<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">KODOTI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">PRODUCTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">TEMPLATE FORM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">REACTIVE FORM</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
     
  </div>